html, body {
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #dd2d4a;
    border-bottom: 1px solid #dd2d4a;
}

footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #880d1e;
    color: #f49cbb;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    max-width: 400px;
    max-height: 700px;
}

.grid * {
    font-size: 25px;
}

.grid button {
    background: #f49cbb;
    border-radius: 5px;
    border: 1px solid #dd2d4a;
}

.display {
    width: 100%;
    height: 80px;
    background: #cbeef3;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border: 1px solid #a2e2eb;
}

.calculator {
    padding: 20px 10px 20px 10px;
    background: #f26a8d;
    border-radius: 5px;
    border-top: 1px solid #dd2d4a;
    border-left: 1px solid #dd2d4a;
    border-bottom: 3px solid #dd2d4a;
    border-right: 3px solid #dd2d4a;
}

#current {
    font-size: 28px;
    margin: 5px;
}

#previous {
    font-size: 16px;
    margin: 5px;
}
